@media only screen and (min-width: 320px) and (max-width: 480px) {
    h1 {
      font-size: 42px; }
    h2 {
      font-size: 25px;
      background-color: #4ac500;
      display: grid;
      grid-template-rows: 1fr;
      justify-items: center;
      color: #ede06e;
      border: 1px solid black;
      align-items: center; }
    #imgLog {
      display: flex;
      justify-content: center;
      margin: auto;
      height: 170px;
      width: 170px; }
    .buscador {
      width: 0%;
      display: grid;
      justify-content: end;
      justify-items: end;
      font-family: 'Dancing Script', cursive;
      height: 15px; }
    nav div {
      background-color: #7ee8fa;
      background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
      margin: 2px;
      padding: 2px;
      border: 1px solid black;
      font-size: 12px; }
    .grillaMenu {
      display: flex;
      flex-flow: row;
      justify-content: center; }
    .menuMain {
      display: flex;
      list-style-type: none;
      justify-content: center;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 20px 20px 20px 20px;
      text-align: center;
      font-size: 18px;
      font-family: 'Dancing Script', cursive; }
    .bordeRedondeado {
      border-radius: 10%;
      height: 250px;
      width: 150px;
      grid-gap: 10px; }
    .galleryText {
      position: absolute;
      bottom: 0;
      color: black;
      font-size: 18px;
      margin: 10px;
      background-color: white;
      border-radius: 10px; }
    .tablaContainer {
      margin: 150px auto;
      width: 300px;
      font-family: 'Bitter', serif;
      font-size: 14px; }
    table {
      background-color: #7ee8fa;
      background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
      text-align: left;
      border-collapse: collapse;
      width: 100%; }
    th, td {
      padding: 5px;
      border: black solid 1px; }
    thead {
      background-color: #7ee8fa;
      background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
      border-bottom: solid 3px #281d06;
      color: black; }
    tr:nth-child(even) {
      background-color: #d5d4d8; }
    .imgTable {
      display: flex;
      height: 25px;
      width: 25px;
      justify-content: center; } }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width: 321px) {
    /* Styles */ }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width: 320px) {
    /* Styles */ }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles */ }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Styles */ }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Styles */ }
  
  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1224px) {
    /* Styles */ }
  
  /* Large screens ----------- */
  @media only screen and (min-width: 1824px) {
    /* Styles */ }
  
  /* iPhone 4 ----------- */
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */ }
  
  /*Fin seccion responsive*/
